form{
margin-top: 3rem;
}

fieldset{
  border: none;
  display: grid;
  gap: 1.5rem;

}

legend{
  margin-bottom: 1.5rem;
}
div > input{
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: 8px;
}
  