:root{
/* Brand */
/* --bg-color-light:#F67841; */
--bg-color-light:#FEE7D6;
/* --color-brand-mid:#F3541C;
--color-brand-dark:#E43A12; */

/* Text */

--color-text-primary:#292524;
--color-text-secondary:#57534E;
--color-text-tertiary:#8F8881;
--color-text-highlight:#E43A12;

/* Surface */
--color-surface-primary:#FFFFFF;
--color-surface-secondary:#FEE7D6;
--color-surface-disabled:#E7E5E4;

/* Stroke */
--color-stroke-default:#D6D3D1;
--color-stroke-highlight:#F3541C;

/* Semantic */
--color-error:#DC2626;

/* Supporting
--color-orange:#F9A474;
--color-yellow:#FEDF6F;
--color-green:#C7D78D;
--color-blue:#B8CEDC;
--color-violet:#C3B2E7;
--color-pink:#F682A5; */

/* Fonts */
--poppins:"Poppins", sans-serif;
--h1-40: 600 2.5rem/1.25 var(--poppins);
--h2-24: 600 1.5rem/1.25 var(--poppins);
--h3-20: bold 1.25rem/1.20 var(--poppins);
--h4-16: 600 1rem/1.25 var(--poppins);
--text-16: 400 1rem/1.5 var(--poppins);
--text-label: 400 0.875rem/1.4 var(--poppins);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
overflow: hidden;
}

a{
  text-decoration: none;
}

main{
  max-width: 1280px;
  margin-inline: auto;
  grid-template-columns: 51.25% 48.75%;
  overflow: hidden;
}