/* Display */
.grid{
  display: grid;
}
.flex{
  display: flex;
}

/* Spacing */
.pd-block-8{
  padding-block: 0.5rem;
}
.pd-top-32{
  padding-top: 2rem;
}
.pd-top-24{
  padding-top: 1.5rem;
}
.pd-top-8{
  padding-top: 0.5rem;
}
.gap-8{
  gap: 0.5rem;
}

/* Fonts */
.font-h1{
  font: var(--h1-40);
}
.font-h2{
  font: var(--h2-24);
}
.font-h3{
  font: var(--h3-20);
}
.font-h4{
  font: var(--h4-16);
}
.font-text{
  font: var(--text-16);
}
.font-label{
  font: var(--text-label);
}


/* colors background */

.bg-color-light{
  background-color: var(--bg-color-light);
}
/* .bg-color-mid{
  background-color: var(--color-brand-mid);
}
.bg-color-dark{
  background-color: var(--color-brand-dark);
} */

/* Color Text */
.color-text-primary{
  color: var(--color-text-primary);
}
.color-text-secondary{
  color: var(--color-text-secondary);
}
.color-text-tertiary{
  color: var(--color-text-primary);
}
.color-text-highlight{
  color: var(--color-text-highlight);
}

/* Color form */
